<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
		<% include partials/navbar.ejs %>
    <title>Contact Page</title>

  <body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Contact Us!</h1>
      
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p class="text-left">Email: Kyle.D.Jankowski@j7tees.com</p>
      <p class="text-left">Phone: 623-888-9222</p>

    </div>
  </div>
</div>


  </body>

  <% include partials/scripts.ejs %>
</html>
