<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
		<% include partials/navbar.ejs %>

    <style media="screen">

    h3, h1 {
      text-align: center;
    }

    </style>

    <h1>FAQ</h1>

    <h3><b>For your convenience, our most common customer questions are answered right here.</b></h3>


    <p>Not finding what you want? Reach out directly through our <u><a href="/contact">Contact Us page</a></u> or submit an inquiry at <u><a href="/contactForm">Inquiry Form!</a></u></p>

    <br>

<div class="container">

      <ul style="list-style-type:none">
        <li><b>Q: What is the minimum order?</b>
          <ul style="list-style-type:none">
            <li>A: No minimum! We can do as few as one, or as many as you need.</li>
          </ul>
        </li>

        <br>

        <li><b>Q: Do I get a discount when I buy more?</b>
          <ul style="list-style-type:none">
            <li>A: Yes, of course. See our price list, and call us if you need an individualized quote for more than 100 pieces.</li>
          </ul>
        </li>

        <br>

        <li><b>Q: I have my own artwork. Is that okay?</b>
          <ul style="list-style-type:none">
            <li>A: Absolutely! Send us a copy (original art only please) and we will check to be sure we can print it.</li>
          </ul>
        </li>

        <br>

        <li><b>Q: How long does it take to get my shirt(s)?</b>
          <ul style="list-style-type:none">
            <li>A: Orders of less than 12 typically take 2-4 business days. For 12 or more, expect 6-8 business days. Rushes orders are available, for a nominal fee.</li>
          </ul>
        </li>

        <br>

        <li><b>Q: Can I mix and match sizes with my order?</b>
          <ul style="list-style-type:none">
            <li>A: Yes! Please note anything that sizes XXL and larger will have an additional cost (usually about $2 extra on most styles).</li>
          </ul>
        </li>

        <br>

        <li><b>Q: Do you offer specialty printing services, like foil?</b>
          <ul style="list-style-type:none">
            <li>A: Yes! We do offer foiled printing. Prices will vary. Please email us for a custom quote.</li>
          </ul>
        </li>

        <br>

        <li><b>Q: What type of shirt/apparel do you offer?</b>
          <ul style="list-style-type:none">
            <li>A: Yes! Please note anything that sizes XXL and larger will have an additional cost (usually about $2 extra on most styles).</li>
          </ul>
        </li>

        <br>

        <li><b>Q: What type of shirt/apparel do you offer?</b>
          <ul style="list-style-type:none">
            <li>A: We work very close with our apparel distributor and we can find most thing that you are looking for</li>
          </ul>
        </li>

        <br>

        <li><b>Q: I don’t have any artwork, and I don’t know what I’m doing. Can you help me out?</b>
          <ul style="list-style-type:none">
            <li>A: Yes we will help out. Give us your ideas and we will take it from there. </li>
          </ul>
        </li>

        <br>

        <li><b>Q: When is payment due?</b>
          <ul style="list-style-type:none">
            <li>A: Following design approval by both parties, we will provide you with an invoice to pay at your convenience.  We will begin printing after payment is received.</li>
          </ul>
        </li>

        <br>

        <li><b>Q: Do you print on anything else?</b>
          <ul style="list-style-type:none">
            <li>A: Right now, we can print on just about anything made of at least 50% cotton fabric. Coming soon! We are working on some fun print techniques for quite a few other types of media (canvas, wood, metal, and glass). Let us know what you have in mind and we will gladly look to see if we can make it happen. </li>
          </ul>
        </li>

        <br>

        <li><b>Q: I was wondering if…</b>
          <ul style="list-style-type:none">
            <li>A: Email us kyle.d.jankowski@j7tees.com with any other questions. We will print your vision!</li>
          </ul>
        </li>

      </ul>
</div>


  </body>

  <% include partials/scripts.ejs %>
</html>
