<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
		<% include partials/navbar.ejs %>

    <style media="screen">

    h3, h1 {
      /*text-align: center;*/
    }

    h3 {
      font-family: "Archivo Black";
      font-weight: bold;
    }

    p {
      text-align: left;
    }

    p .pTitle {
      text-align: center;
    }

    </style>

    <div class="container">
      <h1>Artwork/Apparel Guide</h1>
      <h2>Want to use your own artwork? No problem!</h2>
      <p>Please remember, your print will only be as good as your artwork. we can do <i>some</i> clean-up so it never hurts to ask, but kindly use the guides below when creating your print files. if you're unsure about your artwork, just reach out! We will gladly take a peek to see if it will work out.</p>

      <h3>Full Color Digital</h3>

      <ul>
        <li>High-resolution Pixel or Vector art (300mb or larger)</li>
        <li>File types: PSD, PDF, JPG, PNG</li>
        <li>For printing on dark garments, do not use fades, shadows, or glows.</li>
        <li>Must be your original artwork</li>
      </ul>

      <h3>Art Formats Not Accepted</h3>

      <ul>
        <li>Any Microsoft program formats</li>
        <li>Anything from the internet that you do not own (Facebook, Google, or anything similar)</li>
      </ul>

      <h3>Apparel Guidelines</h3>

      <ul>
        <li>100%-50% cotton (for best results 100% is suggested)</li>
      </ul>

      <br>

      <h3>Definitions</h3>

      <h5><b>Vector art</b></h5>

      <p>Vector images are images described by shapes such as circles and squares, as opposed to bitmap images which are described by pixels – squares of color arranged in a grid. The shapes are precise mathematical descriptions of the image and can be scaled without becoming blurry or “pixelated” (that blocky look that bitmap/raster images so often get when scaled up). These mathematical shapes create solid blocks of colors. Vector art is akin to the type of imaging typically used to create cartoon images found in comic strips.</p>

      <h5><b>Bitmap (Pixel) Art</b></h5>

      <p>Bitmap art utilizes pixels that are saved in a file as a series of numbers. Pixels create several dots of color in order to create the image. A bitmap image is quite literally a collection of squares that, taken together, make up the image. The squares might be of different colors, but they are all the same size. Reduce any bitmap image to its parts and you’ll see this in detail. Because a bitmap image is a collection of squares, it doesn’t hold up well to expansion. Designers, when talking about vector and bitmap images, often talk about the resolution of those images. That is how many dots per inch an image has. The more dots per inch, the better the resolution of the image. The higher the resolution, the better detail the image generally has; conversely, the lower the resolution, the less detail the image has</p>

    </div>


  </body>

  <% include partials/scripts.ejs %>
</html>
