<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
		<% include partials/navbar.ejs %>

    <style>

    h1 {
        text-align: center;
      }

    img {
      display: block;
      margin: 0 auto;;
      }

    </style>

</head>

<body>

    	<div class="container">
    		<h1>Check Out Our Affordable Pricing!</h1>
        <br>
    		<img src = "/images/Pricing.jpeg" />
    	</div>

      <br />
      <br>

  </body>

  <% include partials/scripts.ejs %>
</html>
